aniso8601==7.0.0
asgiref==3.2.10
certifi==2020.6.20
chardet==3.0.4
Django==3.1
django-anymail==7.2.1
django-extensions==3.0.5
django-post-office==3.4.1
django-webpack-loader==0.7.0
graphene==2.1.8
graphene-django==2.12.1
graphene-file-upload==1.2.2
graphql-core==2.3.2
graphql-relay==2.0.1
idna==2.10
jsonfield==3.1.0
Pillow==7.2.0
promise==2.3
PyJWT==1.7.1
pytz==2020.1
pywatchman==1.4.0
requests==2.24.0
Rx==1.6.1
singledispatch==3.4.0.3
six==1.15.0
sqlparse==0.3.1
twilio==6.45.0
Unidecode==1.1.1
urllib3==1.25.10
